@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);
}

body {
    font-size: 18px;
    font-family: 'DM Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    background-color: var(--Cream);
}

.header {
    width: 20rem;
    height: 4.7rem;
    background-color: var(--Soft-red);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.header p{
    text-align: left;
    font-size: .7rem;
    color: var(--Very-pale-orange);
    margin: 1.3rem;
}

.header p span {
    font-weight: 700;
    display: block;
    font-size: 1.2rem;
    margin-top: .3rem;
}

.header img {
    width: 2.7rem;
    margin: 1rem;
}

.content {
    background-color: var(--Very-pale-orange);
    width: 20rem;
    height: auto;
    border-radius: 10px;
    margin-top: 1rem;
}

.content h4 {
    text-align: left;
    padding: 2rem 1.5rem;
    color: var(--Dark-brown);
}

.chart{
    margin: 0 1.3rem;
}

.footer {
    margin: 1.3rem;
    display: flex;
    justify-content: space-between;
}

.this-month {
    color: var(--Medium-brown);
    font-size: .7rem;
}

.this-month span {
    color: var(--Dark-brown);
    font-weight: 700;
    font-size: 1.7rem;
    display: block;
}

.last-month {
    color: var(--Dark-brown);
    text-align: right;
    font-weight: 500;
    font-size: 1rem;
    margin-top: .7rem;
}

.last-month span {
    color: var(--Medium-brown);
    font-size: .7rem;
    display: block;
}